<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lyrics Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Lyrics Finder</h1>
      <p>Click below to get lyrics for the currently playing Spotify song.</p>
    </div>
    <form action="/get-lyrics" method="post">
      <button type="submit">Get Lyrics</button>
    </form>

    {% if lyrics %} {% if song_name %}
    <p>Now playing "{{ song_name }}" by {{ artist_name }}</p>
    {% endif %} {% if not song_name %}
    <p>Play a song in spotify to get lyrics</p>
    {% endif %}
    <h2>Lyrics:</h2>
    <pre>{{ lyrics }}</pre>
    {% endif %}
    <div class="fotter">
      <p>
        Developed by
        <a href="https://mano-link-repository.netlify.app/" target="_blank"
          >Mano</a
        >
      </p>
      <p class="lyrics-by">
        Lyrics by
        <a href="https://www.tamil2lyrics.com/" target="_blank">tamil2lyrics</a>
        &<br />
        <a href="https://github.com/NTag/lyrics.ovh" target="_blank"
          >lyrics.ovh</a
        >
      </p>
    </div>
  </body>
</html>
